<div class="header">
    <h2>Agenda de atendimentos</h2>
</div>


<button class="btn btn-primary" style="padding: .8em .8em 1.8em .8em; font-size: 1.5em" >
    <i class="fal fa-calendar" style="margin-right: 1em"></i>
    <p style=""> Marcar consulta</p>
</button>


<form class="mt-10 ">

    <div class="container">

        <div class="search-item ">
            <label class="column">
                Paciente:
            </label>
            <input type="text" placeholder="informe o nome do paciente"
                   class="grow  input input-bordered items-center gap-2 pt-3 pb-3 "/>
        </div>
        <div class="search-item">
            <label class="column">
                Profissional:
            </label>
            <input type="text" placeholder="informe o nome do profissional"
                   class=" grow input input-bordered items-center gap-2 pt-3 pb-3"/>
        </div>

        <div class="search-item">

            <label>
                data inicial:
            </label>
            <input type="date" class="grow" placeholder="data inicial"
                   class="input input-bordered items-center gap-2 pt-3 pb-3"/>
        </div>
        <div class="search-item">

            <label>
                data final:
            </label>
            <input type="date" class="grow" placeholder="data final"
                   class="input input-bordered items-center gap-2 pt-3 pb-3"/>
        </div>

        <div class="search-item">
            <label style="color: transparent">
                a
            </label>
            <div style="display: inline-flex">
                <button class="btn btn-primary ">
                    <i class="fal fa-search" style="margin-right: .8em"></i>
                    Buscar
                </button>

            </div>
        </div>
    </div>
</form>

<p class="mt-6">Período: 10/10/2021 - 11/10/2021</p>
<div class="container">
    <table class="table table-compact table-zebra">
        <thead>
        <tr style="background-color: #b4caf8;" >
            <th>Paciente</th>
            <th>Profissional</th>
            <th>Data/Hora</th>
            <th>Tipo</th>
            <th>Convênio</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td>
                <div>
                    <p>João da Silva</p>
                    <p>35 anos</p>
                </div>
            </td>
            <td>
                <div>
                    <p>Dr. Pedro dos Santos</p>
                    <p>Odontologia</p>
                </div>
            </td>
            <td>
                <div>
                    <p>10/10/2021</p>
                    <p style="font-size: 2em">10:00</p>
                </div>
            </td>
            <td>Individual</td>
            <td>
                <div>
                    <p>Unimed</p>
                    <p>Alpha</p>
                </div>
            </td>
            <td>
                <div class="badge badge-primary badge-outline " style="padding: 1em; border-radius: .3em">
                    Realizada
                </div>
            </td>
            <td>
                <button class="btn btn-square" style="padding: .2em">
                    <i class="fal fa-check" style="color: green"></i>
                </button>
                <button class="btn btn-square">
                    <i class="fal fa-eye" style="color: blue"></i>
                </button>
                <button class="btn btn-square" >
                    <i class="fal fa-trash" style="color: red"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>João da Silva</p>
                    <p>35 anos</p>
                </div>
            </td>
            <td>
                <div>
                    <p>Dr. Pedro dos Santos</p>
                    <p>Odontologia</p>
                </div>
            </td>
            <td>
                <div>
                    <p>10/10/2021</p>
                    <p style="font-size: 2em">10:00</p>
                </div>
            </td>
            <td>Individual</td>
            <td>
                <div>
                    <p>Unimed</p>
                    <p>Alpha</p>
                </div>
            </td>
            <td>
                <div class="badge badge-error badge-outline " style="padding: 1em; border-radius: .3em">
                    Realizada
                </div>
            </td>
            <td>
                <button class="btn btn-square" style="padding: .2em">
                    <i class="fal fa-check" style="color: green"></i>
                </button>
                <button class="btn btn-square">
                    <i class="fal fa-eye" style="color: blue"></i>
                </button>
                <button class="btn btn-square" >
                    <i class="fal fa-trash" style="color: red"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <p>-------</p>
                    <p></p>
                </div>
            </td>
            <td>
                <div>
                    <p></p>
                    <p>Odontologia</p>
                </div>
            </td>
            <td>
                <div>
                    <p>10/10/2021</p>
                    <p style="font-size: 2em">10:00</p>
                </div>
            </td>
            <td>Individual</td>
            <td>
                <div>
                    <p>-------</p>

                </div>
            </td>
            <td>
                <div class="badge badge-accent" style="padding: 1em; border-radius: .3em">
                    Agendar
                </div>
            </td>
            <td>
                <button class="btn btn-square" style="padding: .2em">
                    <i class="fal fa-check" ></i>
                </button>
                <button class="btn btn-square">
                    <i class="fal fa-eye" ></i>
                </button>
                <button class="btn btn-square" >
                    <i class="fal fa-trash" ></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>



