<div class="header">
    Agenda de atendimentos
</div>


<button class="btn btn-accent" style="padding: .7em .7em 1.7em .7em; font-size: 1.2em" >
    <i class="fal fa-calendar" style="margin-right: 1em"></i>
    <p style=""> Marcar consulta</p>
</button>


<form class="mt-7">
    <div class="container">

        <div class="search-item ">
            <label class="column">
                Paciente:
            </label>
            <input type="text" placeholder="informe o nome do paciente"
                   class="grow  input input-bordered items-center gap-2 pt-3 pb-3 "/>
        </div>
        <div class="search-item">
            <label class="column">
                Profissional:
            </label>
            <input type="text" placeholder="informe o nome do profissional"
                   class=" grow input input-bordered items-center gap-2 pt-3 pb-3"/>
        </div>

        <div class="search-item">

            <label>
                data inicial:
            </label>
            <input type="date" class="grow" placeholder="data inicial"
                   class="input input-bordered items-center gap-2 pt-3 pb-3"/>
        </div>
        <div class="search-item">

            <label>
                data final:
            </label>
            <input type="date" class="grow" placeholder="data final"
                   class="input input-bordered items-center gap-2 pt-3 pb-3"/>
        </div>

        <div class="search-item">
            <label style="color: transparent">
                a
            </label>
            <div style="display: inline-flex">
                <button class="btn btn-primary ">
                    <i class="fal fa-search" style="margin-right: .8em"></i>
                    Buscar
                </button>

            </div>
        </div>
    </div>
</form>

<p class="mt-6">Período: {{ calendarData.period.start }} - {{ calendarData.period.end }}</p>
<div class="container">
    <table class="table table-compact table-zebra">
        <thead class="pt-1">
        <tr style="background-color: #b4caf8;" >
            <th>Paciente</th>
            <th>Profissional</th>
            <th>Data/Hora</th>
            <th>Tipo</th>
            <th>Convênio</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of calendarData.schedules">
            <td>
                <div>
                    <p>{{ data.patient.length > 1 ? "GRUPO" : data.patient[0].name }}</p>
                    <p>{{ data.patient.length > 1 ? "" :  data.patient[0].age }}</p>
                </div>
            </td>
            <td>
                <div>
                    <p>{{ data.professional.name }}</p>
                    <p>{{ data.professional.specialty }}</p>
                </div>
            </td>
            <td>
                <div>
                    <p>{{ data.date }}</p>
                    <p style="font-size: 2em">{{ data.time }}</p>
                </div>
            </td>
            <td>{{ data.type }}</td>
            <td>
                <div>
                    <p>{{ data.convenio ? data.convenio.name : "------" }}</p>
                    <p>{{ data.convenio ? data.convenio.type : "" }}</p>
                </div>
            </td>
            <td>
                <div class="badge badge-primary badge-outline " style="padding: 1em; border-radius: .3em">
                    Realizada
                </div>
            </td>
            <td>
                <button class="btn btn-square" style="padding: .2em">
                    <i class="fal fa-check" style="color: green"></i>
                </button>
                <button class="btn btn-square">
                    <i class="fal fa-eye" style="color: blue"></i>
                </button>
                <button class="btn btn-square" >
                    <i class="fal fa-trash" style="color: red"></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>



