<div class="header">
    <h2>Agenda de atendimentos</h2>
</div>


<button class="btn btn-primary">
    <i class="fal fa-calendar" style="margin-right: .8em"></i>
    Marcar consulta
</button>


<form class="mt-10 row ">

    <div style="display: inline-block">

            <label class="input input-bordered items-center gap-2 pt-3 pb-3">

                <input type="text" class="grow" placeholder="informe o nome do paciente"/>
            </label>


            <label class="input input-bordered items-center gap-2 pt-3 pb-3">

                <input type="text" class="grow" placeholder="informe o nome do profissional"/>
            </label>

            <label class="input input-bordered items-center gap-2 pt-3 pb-3">
                data inicial:
                <input type="date" class="grow" placeholder="data inicial"/>
            </label>



    </div>


</form>



