.example-full-width {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.search-item {
  //display: grid;
  //justify-content: space-between;
  //align-items: center;
  padding: 0.5em;
  //border-bottom: 1px solid #e0e0e0;
}

.btn-square{
  background-color: transparent;

}

.table :where(th, td){
  padding-top: .3em;
  padding-bottom: .3em;
}

.badge-calendar{
  padding: 1em;
  border-radius: 2em;
  border: solid;
  width: 8em;
}




.status-agendada {
  color: #4A00FF;
}

.status-cancelada {
  color: #FF0000FF;
}

.status-realizada {
  color: #818181;
}

.status-vago {
    color: #4A00FF;
  background-color: #30fd1a;
}