<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">H</button>
      <div class="logo-text" @fadeInOut *ngIf="showLogoText">Healfin</div>
      <button class="btn-close" @rotate *ngIf="collapsed" (click)="toggleCollapse()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>

    <div style="display: flex; flex-direction: row; margin: 2em 0 .7em 0 ;" @fadeInOut *ngIf="collapsed">
        <div>
            <img src="assets/images/avatar.png" class="avatar" alt="user avatar">

            <!--        <img src="{{user.image}}" class="avatar" alt="User avatar">-->
        </div>
        <div>
            <span class="user-name">John Doe</span>
            <!--        <span class="pl-4">{{user.email}}</span>-->
        </div>
    </div>

    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routelink]"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </li>
    </ul>
</div>
